[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*_ReSharper*/

*.nupkg
**/packages/*
!**/packages/build/

.DS_Store
Thumbs.db
desktop.ini